<section aria-labelledby="hero" class="container">
    <app-title
      [title]="'Current Weather Data in '"
      [highlightedText]="city + ', ' + country"
      [id]="'hero'"
    >
    </app-title>
    
    <div class="row">
      <app-weather-card [data]="currentData" >
      </app-weather-card>
    </div>
  </section>

  <section aria-labelledby="stats" class="container charts">
    <app-title
      [title]="' Statistical Data'"
      [id]="'stats'"
    >
    </app-title>
  
    <div class="row">
        <app-bar-chart [chart]="1" class="chart1" title="Average Temperature for the last days" [data]="dataByAvgTemp" *ngIf="dataByAvgTemp" height="500" [width]="chartWidth"></app-bar-chart>
        <app-bar-chart [chart]="2" class="chart2" title="Average Temperature for the last year" [data]="monthByAvgTemp" *ngIf="monthByAvgTemp" height="500" [width]="chartWidth"></app-bar-chart>

    </div>
  </section>
